/* GLOBAL STYLES */

body {
	font-family: Arial, Helvetica;
}

div.container {
	width: 80%;
	margin: 0 auto;
	background:pink;
}

/* HEADER */
	
/* CONTENT */

/* NAVIGATION */

/* SIDEBAR */

/* FOOTER */

